/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
appendonly.aof
laravel-echo-server.lock
npm-debug.log
yarn-error.log
.DS_Store
.php_cs.cache
.idea
.DS_Store
