.button {
  font-weight: bold;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 8px;
  outline: none;
  min-width: 8rem;
  padding: 0.5rem 1.5rem;
  transition: 350ms;

  &-primary {
    background-color: $primaryColor;
    color: $white;

    &--disabled {
      background-color: $primaryColor;
      color: $white;
      cursor: initial !important;
      opacity: 0.6;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $primaryColor--medium;
    }
  }
}