.control-group{
    height: calc(100vh - 3.3rem);
    background-color: $border-color;
    &__body{
        box-shadow: 0px 3.5px 4px $primaryColor--lighter;
        min-height: calc(100vh - 17.5rem);
        border-radius: 4px;
        margin-top: 4rem;
        padding-top: 9rem;
        margin-left: -25px;
        margin-right: -25px;
    }
    &__icon{
        font-size: 2rem;
        color: $primaryColor;
    }
    &__content{
        margin-top:1rem;
    }
    &__text{
        margin-bottom: 0.15rem;
        font-size: 0.975rem;
        @include media-breakpoint-up(sm){
        font-size: 1.05rem;
        }
    }
}
