.dashboard {
    background-color: $white;
    position: relative;
    padding: 0;

    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }

    &:hover a {
        text-decoration: none;
    }

    &-notification {
        padding: 1rem;
        background-color: $gallery;
        border-radius: .5rem;
        line-height: 1.25;
        margin-top: 1rem;
        @include media-breakpoint-down(sm) {
            margin-top: 4.5rem;
        }
        &__message {
            font-size: 1.5rem;
            font-weight: bold;
            color: $heading-color;
            margin: 0;
            &-date {
                color: $copy-color;
                font-weight: 300;
                margin: 0;
                b {
                    font-weight: bold;
                }
            }
        }

        &__schedule {
            &-button {
                display: inline-block;
                text-align: right;

                &  * {
                color: $black;

                &:hover {
                    text-decoration: none;
                }
                }
            }

            &-text {
                font-weight: normal;
            }
        }
    }

    &-module {
        margin-bottom: 1rem;
        @include media-breakpoint-down(sm) {
            overflow: hidden;
            border-radius: .5rem;
            box-shadow: $apply-box-shadow;
        }
        & * {
            font-weight: bold;
        }

        &-wrap {
            margin-bottom: 1rem;
        }

        &__overview {
            height: 100%;
            position: relative;
            @include media-breakpoint-down(sm) {
                overflow: hidden;
                height: 7rem;
            }

            &-wrapper {
                @include media-breakpoint-up(md) {
                    height: 16rem;
                }

                @include media-breakpoint-up(lg) {
                    height: 18rem;
                }
            }
        }

        &__thumbnail {
            overflow: hidden;
            height: 100%;
            max-width: 36rem;
            border-radius: .5rem;
            box-shadow: $apply-box-shadow;

            @include media-breakpoint-down(sm) {
                box-shadow: none;
                border-radius: 0;
            }

            &-image {
                object-fit: cover;
                height: 100%;
                width: 100%;
                @include media-breakpoint-down(sm) {
                    height: auto;
                    transform: translateY(-25%);
                }
            }
        }

        &__info {
            min-height: 100%;
            @include media-breakpoint-down(sm) {
                margin-top: -2.2rem;
                padding: 0;
            }
        }

        &__header {
            color: $black;
            text-align: left;
            font-size: 1.5rem;
            font-weight: bold;
            width: 100%;
            padding: 0 1rem;

            &:hover {
                color: $black;
            }

            @include media-breakpoint-down(sm) {
                background-color:$black--50;
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }

        &__description {
            color: $black;
            text-align: left;
            font-weight: normal;
            font-size: 1rem;
            padding: 0 1rem;
            margin-bottom: 0.75rem;

            @include media-breakpoint-down(sm) {
                color: $black;
                display: none;
                margin-bottom: 0;
            }
        }

        &__progress {
            position: relative;
            &-text {
                text-align: center;
                position: absolute;
                margin: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: .9rem;
            }
        }

        &__loader {
            transform: translate(-50%,-50%);
            position: absolute;
            left: 50%;
            stroke-linecap: round;
        }

        &__date {
            text-align: left;
            font-size: 1rem;
            margin: 0;
            padding: 0 .75rem;
        }

        &__body {
            color: $black;
            padding: .5rem .75rem;
            @include media-breakpoint-down(sm) {
                background-color: $magnolia;
                min-height: 5rem;
            }
        }

        &__status {
            color: $black;

            &-circle {
                color: $green;
            }

            &-wrapper {
                text-align: right;
            }

            &--completed {
                font-size: 1.15rem;
            }

            @include media-breakpoint-up(md) {
                background-color: $primaryColor;
                color: $white;
                display: inline-block;
                font-size: 1.15rem;
                width: 50%;
                border-radius: 0.5rem;
                padding: 0.25rem 0.5rem;

                &-wrapper {
                    text-align: center;
                    position: absolute;
                    bottom: 0.5rem;
                }

                &-indicator {
                    display: none;
                }  
            }
        }
    }
}
