.invalid-feedback {
    display: block;
    font-size: inherit;
    font-weight: 700;
    margin-top: -.7rem;
    margin-bottom: 1.3rem;

    &.fatal {
        text-align: center;
    }
}

.form-control {
    border-radius: 10px;
    border-color: $inputBorder;
    padding: 1.45rem .85rem;
}