.login {
    min-height: calc(100vh - 3.3rem);
    margin-top: 3.3rem;
    
    &__title {
        display: block;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 4rem;
        width: 100%;        
        color: $primaryColor;

        @include media-breakpoint-up(md) {
            margin-top: -3.3rem;
            padding: .5rem;
            z-index: 1;
            top: 0;
            font-size: 2.25rem;
            text-align: left;
            background-color: $primaryColor;
            color: $white;
        }
    }
    @include media-breakpoint-down(sm) {
        & {
            background-color: $body-bg;
            height: 100vh;
            margin-top: 0;

            &-container {
                background-color: $body-bg;
            }
        }

        &__title {
            margin-top: 6rem;
            margin-bottom: 2rem;
        }
    }

    &__logo{
        width: 12.5rem;
        @include media-breakpoint-up(md) {
            width: 14.5rem;
        }
    }

    ::placeholder {
        // color: $heading-color;
        color: $place-holder-text;
        font-size: .75rem;
    }


}
    

.loginForm {
    &__loading {
        z-index: -1;
        opacity: 0.2;
        -webkit-transition: width 5s; /* For Safari 3.1 to 6.0 */
        transition: 0.2s;
    }

    &__label {
        color: $text-color;
        font-weight: 700;
    }
}
