
.module {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;
    border: 1px solid $border-color;

    &__header{
        margin-top: -2px;
        z-index: 1;
        position: sticky;
        top: 0;
    }

    &__content {
        min-height: calc(100vh - 8.25rem);
    }

    &-content {
        overflow: auto;
        height: calc(100vh - 9rem);
        width: 100%;

        @include media-breakpoint-down(sm){
            height: calc(100vh - 6.5rem);
            padding-bottom: 25px;
        }
    }

    &-text {
        line-height: 1.5;
        
        &__header {
            font-weight: bold;
            font-size: 2rem;
        }

        &__sub-header {
            font-weight: bold;
            font-size: 1.5rem;
        }

        &__text {
            font-weight: normal;
            font-size: 1.15rem;
        }

        &__caption {
            font-style: italic;
            font-weight: 300;
            font-size: 1.25rem;
        }
    }

    &-footer {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;

        &__item {
            text-align: center;
            margin: 0 2rem;

            &-right {
                position: relative;
            }
        }

        &__tooltip {
            background-color: rgba(45, 45, 45, 0.8);
            color: $white;
            text-align: left;
            width: calc(100% + 5rem);
            border-radius: 8px;
            display: block;
            position: absolute;
            bottom: 125%;
            right: -28%;
            padding: 0.5rem 1rem;

            &.hidden {
                display: none;
            }
        }

        @include media-breakpoint-down(sm) {
            & {
                background-color: $primaryColor;
                width: 100%;
                justify-content: initial;
                position: sticky;
                bottom: 0;
                margin: 0;
                padding: 0;
            }

            &__item {
                margin: 0;

                &-left {
                    position: relative;
                    left: 0;
                }
    
                &-right {
                    position: absolute;
                    right: 0;
                }

                & .button {
                    box-shadow: none;
                    border-radius: 0;
                    padding: 1rem 1.5rem;
                }
            }

            &__tooltip {
                bottom: 115%;
                right: 5%;
            }
        }
    }
    
    &__progress{
        font-size: 1rem;
        color: $black;
        font-weight: bold;
        margin-top: -25px;
        margin-bottom: 0;
        text-align: center;
    }
}
.module__progressBar {
    margin-top: 3.45rem;
    @include media-breakpoint-up(md){
        margin-top: 0;
    }
}

.module__progressBar.vue-progress-path path {
    stroke-width: 25;
    @include media-breakpoint-up(sm){
        stroke-width: 30;
    }
}
