
.module {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;

    @include media-breakpoint-down(sm) {
        padding-bottom: 3.2rem;
    }
    
    &__header{
        margin-top: -2px;
        z-index: 1;
        position: sticky;
        top: 0;
    }

    &-content {
        overflow: auto;
        height: calc(100vh - 9rem);
        width: 100%;

        @include media-breakpoint-down(sm){
            height: calc(100vh - 6.5rem);
            padding-bottom: 25px;
        }
    }
    
    &-footer {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;

        &__item {
            text-align: center;
            margin: 0 2rem;
        }

        @include media-breakpoint-down(sm) {
            & {
                width: 100%;
                position: absolute;
                bottom: 0;
            }

            &__item {
                margin: 0 1rem;
            }

            &__button {
                margin-top: 1rem;
            }
        }
    }
    
    &__progress{
        font-size: 1rem;
        color: $white;
        font-weight: normal;
        margin-top: -25px;
        margin-bottom: 0;
        text-align: center;
    }
}
.module__progressBar {
    margin-top: 3.3rem;
    @include media-breakpoint-up(md){
        margin-top: 0;
    }
}

.module__progressBar.vue-progress-path path {
    stroke-width: 25;
    @include media-breakpoint-up(sm){
        stroke-width: 30;
    }
}
