
.module {
    overflow-x: hidden;
    min-height: 100vh;
    border: 1px solid $border-color;
    padding: 0;
    @include media-breakpoint-down(sm) {
        padding-top: 3.6rem;
    }

    &__progressBarWrapper{
        z-index: 1;
        position: relative;
    }

    &__content {
        min-height: calc(100vh - 8.25rem);
    }

    &__wrapper {
        margin-top: 2rem;

        @include media-breakpoint-up(md) {
            padding: 0 3rem;
            margin-top: 1.25rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 0 10rem;
        }
    }

    &-content {
        overflow: auto;
        height: calc(100vh - 9rem);
        width: 100%;

        @include media-breakpoint-down(sm) {
            height: calc(100vh - 6.5rem);
            padding-bottom: 25px;
        }
    }

    &-text {
        &__header {
            color: $heading-color;
            font-weight: bold;
            font-size: 2rem;
            line-height: 1.5;
            margin-bottom: 0.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 1.8rem;
            }
        }

        &__sub-header {
            color: $heading-color;
            font-weight: normal;
            font-size: 1.35rem;
            line-height: 1.5;
            margin-bottom: 0.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 1.15rem;
            }
        }

        &__text {
            color: $text-color;
            font-weight: normal;
            font-size: 1.15rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.95rem;
            }
        }

        &__question {
            color: $text-color;
            font-weight: bold;
            font-size: 1.20rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 1.15rem;
            }
        }

        &__list {
            color: $text-color;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 1rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.9rem;
            }
        }

        &__caption {
            color: $text-color;
            font-style: italic;
            font-weight: normal;
            font-size: 1.25rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    }

    &-footer {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;

        &__item {
            text-align: center;
            margin: 0 2rem;

            &-right {
                position: relative;
            }
            &-return{
                min-width: 12.5rem;
            }
        }

        &__tooltip {
            background-color: rgba(45, 45, 45, 0.8);
            color: $white;
            text-align: left;
            width: calc(100% + 5rem);
            border-radius: 8px;
            display: block;
            position: absolute;
            bottom: 125%;
            right: -28%;
            padding: 0.5rem 1rem;

            &.hidden {
                display: none;
            }
        }

        @include media-breakpoint-down(sm) {
            & {
                background-color: $primaryColor;
                width: 100%;
                justify-content: initial;
                position: relative;
                margin: 0;
                padding: 0;
                height: 3.3rem;
            }

            &__item {
                margin: 0;
                align-self: center;

                &-left {
                    position: absolute;
                    left: 0;
                }
    
                &-right {
                    position: absolute;
                    right: 0;
                }

                & .button {
                    box-shadow: none;
                    border-radius: 0;
                    padding: 0;
                    min-width: 4.5rem;
                }
                & .button-primary:hover {
                    background: none;
                }
            }

            &__tooltip {
                width: calc(100% + 7rem);
                bottom: 200%;
                right: 20%;
            }
        }
    }
    
    &__percentage{
        font-size: 1rem;
        line-height: 1;
        margin: 0;
        color: $black;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.module__progressBar {
    margin: 0;
}

.module__progressBar.vue-progress-path path {
    stroke-width: 30;
}
