
.navbar{
    background-color: $primaryColor;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0;
    }

    &__logo{
        width: 5.75rem;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__button {
        background: none;
        border: none;
        color: $white;
        font-size: 1.65rem;
        padding: 1rem;
        line-height: 0;
        &:hover {
            color: $grey--lighter;
        }
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__item-wrapper{
        display: flex;
        justify-content: space-around;
        width: 50%;
        list-style: none;
        margin: 0;
        padding: 0;
        @include media-breakpoint-down(lg){
            width: 65%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            display: block;
            background: $item-wrapper-background;
            height: 0;
            overflow: hidden;
            transition: all .5s;
            &--active{
                height: 93vh;
                .navbar__link{
                    opacity: 1;
                }
            }
        }
    }

    &__link {
        display: block;
        color: $white;
        padding: 0 .15rem;
        height: 1.5rem;

        @include media-breakpoint-down(sm) {
            height: auto;
            width: 100%;
            padding: 1rem;
            opacity: 0;
            transition: ease-in opacity .5s;
            transition-delay: .35s;
        }

        &:hover {
            color: $white;
            text-decoration: none;
            @include media-breakpoint-up(md) {
                border-bottom: .2rem solid $white;
            }
        }
    }

    &__item {
        text-align: center;
        font-weight: 600;
        font-size: .9rem;
        @include media-breakpoint-down(sm) {
            width: 100%;
            text-align: left;
            &:hover{
                background: $item-hover-background;
            }
        }
    }

    &__location{
        @include media-breakpoint-up(md) {
            display: none;
        }
        text-align: center;
        color: $white;
        font-weight: bold;
        margin: 0;
        line-height: 1;
        align-self: center;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-size: 1.25rem;
    }

    &__mobile-wrapper{
        @include media-breakpoint-up(md) {
            display: none;
        }
        display: flex;
        flex: center;
        width: 100%;
    }
}
