
.navbar{
    background-color: $primaryColor;
    color: $secondaryColor;
    margin: auto;
    padding: 0.3rem 1rem;

    @include media-breakpoint-up(md) {
        height: 0;
        padding: 0rem 0.5rem;    
    }
    
    &__menu-toggles {
        width: 100%;
        display: flex; 
        justify-content: space-between;
        @include media-breakpoint-up(md) {
            width: auto;    
        }
    }

    &__title {
        display: inline-block;
        margin-bottom: 0;
        margin-left: -.8rem;
        @include media-breakpoint-up(md) {
            display: flex;
            margin-left: 0.8rem;
            padding: .5rem;
            font-size: 2.25rem;
            text-align: left;

            color: $secondaryColor;
        }
    }

    &-wrapper {
        pointer-events: none;
        position: fixed;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;

        @include media-breakpoint-up(md) {
            position: sticky;
            height: initial;
        }

        & * {
            pointer-events: auto;
        }
    }

    &__button {
        background: none;
        border: none;
        color: $white;
        font-size: 1.65rem;
        margin-left: 0.8rem;

        &:hover {
            color: $grey--lighter;
        }
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    &__text{
        font-size: 1.12rem;
        @include media-breakpoint-up(md){
            font-size:1.2rem;
        }
    }

    &-dropdown{
        background-color: $primaryColor;
        overflow: hidden;
        height: 0;
        justify-content: flex-end;


        &--show {
            padding: 0.5rem 0;
            height: 100%;
        }

        &-list {
            border: 1px solid $primaryColor--medium;
            @include media-breakpoint-up(md) {
                flex-direction: row;
                border: 0;
                padding-right: 2rem;
            }
        }

        &__item {
            font-size: 1rem;
            font-weight: normal;
            padding-left: 2.3rem;
            padding-top: 0.85rem;
            padding-bottom: 0.85rem;
            & > * {
                color: $white;
            }
        }
        a.navbar-dropdown__divider{
            text-decoration: none;
        }
        &__divider {
            &:focus *,:hover *{
                border-bottom: 2px solid $white;   
            }
            &:not(:nth-child(1)) {
                border-top: 1px solid $primaryColor--medium;
                @include media-breakpoint-up(md) {
                    border: none;
                }
            }
        }
        @include media-breakpoint-up(md) {
            display: flex;
            height: 3.5rem;
        }
    }
}
