.vue-progress-path{
  .progress{
    stroke: $mauve;
  }
  .background{
    stroke: $link-water;
  }
}

.loginForm .vue-progress-path{
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  @include media-breakpoint-up(md) {
    top:35%;
    transform: translate(-50%);
  }
}
