.schedule {
  color: $black--light;
  padding-top: 2rem;

  &-labels {
    & * {
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
    }

    &__available {
      text-align: right;
    }
  }

  &-divider {
    border-top: 2px solid $grey--light;
    margin: 0.5rem 0;
  }

  &-modules {
    & > * {
      padding: 0.75rem 1rem;
    }

    & > *:nth-child(even) {
      background-color: $grey--light;
    }

    & * {
      font-size: 1rem;
    }
  }
}
