.card-flip {
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }

  &__card {
    display: inline-block;
    overflow: hidden;
    perspective: 1000px;
    margin: 0.5rem 0 0.75rem 0;

    &-wrapper {
      position: relative;
      transform-style: preserve-3d;
      height: 100%;
      max-width: 20rem;
      margin: 0 auto;
    }

    &--active {
      transform: rotateX(-180deg);

      & .card-flip__card-front {
        display: none;
        position: absolute;
      }

      & .card-flip__card-back {
        position: relative;
      }
    }

    &-front, &-back {
      background-color: $white;
      backface-visibility: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      min-height: 8.5rem;
      height: 100%;
      width: 100%;
      padding: 2rem;
      & figure, & figcaption {
        font-size: 1rem;
        text-align: center;
        margin: 0;
      }
    }

    &-front {
      position: relative;
    }

    &-back {
      background-color: $back-of-card;
      color: $text-color;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      transform: rotateX(-180deg);
    }

    &-caption {
      font-weight: bold;
      font-size: 1.25rem;
    }

    &-image {
      height: 100%;
      width: 100%;
    }
  }
}