.final-slide-card{
    background: $white;
    border-radius: 15px;
    box-shadow: 0rem 0.05rem 5px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 32rem;
    border: 0.1rem $border-color solid;
    &__icon{
        color: $default-icon-color;
        font-size: 2.5rem;
        margin-bottom: 1.75rem; 
    }
    &__paragraph{
        color: $text-color;
        font-weight: normal;
        font-size: 1.15rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;

        @include media-breakpoint-down(sm) {
            font-size: 0.95rem;
        }
    }
}