.introSlide {
  &__image-container {
    height: calc(100vh - 14rem);
    min-height: 35rem;
    max-height: 45rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm) {
      height: 0;
      padding-top: 78%;
      min-height: 0;
    }
  }
  &__content-wrapper {
    bottom: 0;
    background-color: $introSlide--backgroundColor;
    padding: 2rem 0;
    @media only screen and (max-width: map-get($grid-breakpoints, md)) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
  }
  &__title-container { 
    text-align: center;
  }
  &__title {
    color: $white;
    font-weight: 700;
    font-size: 3.3rem;
    text-align: center;
    @media only screen and (max-width: map-get($grid-breakpoints, md)) {
      text-align: left;
      font-size: 1.75rem;
    }
  }
  &__description {
    color: $white;
    font-size: 1rem;
    font-weight: 300;
  }
  &__start-btn {
    width: 10.5rem;
    border-radius: 0.5rem;
    height: 3.3rem;
    background: $white;
    color: $black;
    @media only screen and (max-width: map-get($grid-breakpoints, md)) {
      background-color: $primaryColor;
      color: $white;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      border-radius: 0;
      z-index: 20;
    }
  }
  &__button-wrapper {
    margin: 0;
  }

}