.module-quiz {
    $animation-timing: .25s;
    width: 100%;
    &__question {
        margin-bottom: 1rem;
    }

    &__text{
        @extend %default-copy-text-style-on-white-with-margin;
    }

    &__option {
        @extend .interactable-container ;
        border: 0.1rem $border-color solid;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        text-align: left;
        background:$white;
        transition: all $animation-timing linear;
        
        &-container {
            margin: 0.5rem 0;
            height: intrinsic;
        }
        
        &--correct, &--incorrect{
            border-left-width: 2rem;
        }
        &--correct {
            border-color: $green;
        }

        &--incorrect {
            border-color: $red;
        }
        
        &-indicator {
            color: white; 
            position: absolute; 
            left: 2rem; 
            top: 1rem;
            opacity: 0;
            transform: translateX(-50%);
            transition: all $animation-timing ease-in-out;
            &--show{
                opacity: 1;
            }
        }
        
        
        &-content {
            display: inline-flex;
            flex-flow: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0.75rem 1rem;

            &-text{
                @extend %default-copy-text-style-on-white;
                margin: 0;
            }

            &-image {
                max-width: 80%;
                object-fit: contain;
                max-height: 12rem;
            }
        }
    }

    &__response {
        max-height: 0;
        overflow: hidden;
        display: none;
        transition: max-height $animation-timing linear;

        &--active{
            max-height: 80rem;
            display: block;
        }
        
        &-text{
            @extend %default-copy-text-style-on-white;
            color: $black;
            margin: 1rem 0;
        }

        &-image {
            max-width: 80%;
            object-fit: contain;
            max-height: 12rem;
        }
    }
}
