.module-quiz {
    width: 100%;
    &__question {
        margin-bottom: 1rem;
    }

    &__header {
        padding-right: 2.75rem;
    }

    &__text{
        @extend %default-copy-text-style-on-white-with-margin;
    }

    button:focus {outline:0;}
    &__option {
        @extend .interactable-container ;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 0;
        width: 100%;
        text-align: left;
        background:$white;
        transition: all 0.3s linear;

        &-text{
            @extend %default-copy-text-style-on-white;
            margin: 0;
        }

        &--correct {
            border-color: rgb(40,167,69);
        }

        &--incorrect {
            border-color: rgb(220,53,69);
        }

        &--correct, &--incorrect{
            border-left-width: 2rem;
        }

        &-container {
            margin: 0.5rem 0;
            height: intrinsic;
        }

        &-indicator {
            color: white; 
            position: absolute; 
            left: 1.5rem; 
            top: 1rem;
            opacity: 0;
            transition: all 0.2s linear;
            &--show{
                opacity: 1;
            }
        }

        &-content {
            display: inline-flex;
            flex-flow: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0.75rem 1rem;


            & img {
                max-width: 80%;
                object-fit: contain;
                max-height: 12rem;
            }
        }
    }

    &__response {
        display: none;
        margin-top: 1rem;

        &-option{
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s linear;
        }

        &-option--active {
            max-height: 20rem;
        }

        &-image {
            display: flex;
            flex-flow: row;
            justify-content: center;
            margin-top: 1rem;
        }
    }
}
