.module-quizInput {
    &__question {
        margin-top: 3rem;
    }

    &__question:nth-child(2) {
        margin-top: 0;
    }

    &__form {
        width: 100%;

        & > * {
            width: 100%;
            margin: 0 auto 2rem auto !important;
        }
    }

    &__label {
        border-radius: 7.5px;
        border-color: $primaryColor;
        text-align: center;
        min-width: 4rem;
        width: 2rem;
        padding-bottom: 3px;
        background-color: $white;
        @include media-breakpoint-up(md) {
            border-radius: 2px;
            border: 1.7px solid $primaryColor;
        }
    }

    &__percent-indicator {
        font-weight: bold;
        margin: 0 0.5rem;
    }

    &__validate {
        font-size: 1.2rem;
        display: block;
        width: 100%;
        margin-top: 0.5rem;

        &--red {
            color: red;
        }
        &--green {
            color: green;
        }

        @include media-breakpoint-down(sm) {
            font-size: 0.90rem;
        }
    }
}
