.video-template {
  &__header {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    color: $heading-color;

    & > * {
      padding: 0.5rem 2rem;
      margin: 0;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__caption {
    margin-top: 1rem;

    & > * {
      display: block;
      font-size: 1.15rem;
      padding: 0.5rem 2rem;
    }
  }
}
