.card-flip {
  &-description {
    font-size: 1.25rem;
    margin: 1rem 0;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }

  &__card {
    display: inline-block;
    overflow: hidden;
    perspective: 1000px;
    margin: 0.5rem 0 0.75rem 0;

    &-wrapper {
      position: relative;
      transform-style: preserve-3d;
      height: 100%;
      min-height: 8.5rem;
      max-width: 20rem;
      margin: 0 auto;
    }

    &--active {
      transform: rotateX(-180deg);

      & .card-flip__card-front {
        position: absolute;
      }

      & .card-flip__card-back {
        position: relative;
      }
    }

    &-front, &-back {
      background-color: $backgroundColor;
      backface-visibility: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0.75rem 1rem;

      & figure, & figcaption {
        font-size: 1rem;
        text-align: center;
        margin: 0;
      }

      * {
        font-family: 'Arial', sans-serif;
        font-size: 1.25rem;
      }
    }

    &-front {
      position: relative;
    }

    &-back {
      background-color: $primaryColor;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      transform: rotateX(-180deg);
    }

    &-image {
      height: 100%;
      width: 100%;
    }
  }
}