.dashboard {
    padding: 0;

    &-notification {
        padding: 0.5rem 1rem;
        background-color: $secondaryColor;
        color: $black;
        box-shadow: 0 4px 8px 0 $primaryColor--20;

        & * {
        font-size: 1rem;
        transition: 350ms;

            @include media-breakpoint-up(sm) {
                & {
                    font-size: 1.15rem;
                }
            }
        }

        &__message {
            &-container {
                display: inline-block;
            }

            &-date {
                color: $primaryColor;
            }
        }

        &__schedule {
            &-button {
                display: inline-block;
                text-align: right;

                &  * {
                color: $black;

                &:hover {
                    text-decoration: none;
                }
                }
            }

            &-text {
                font-weight: bold;
            }
        }
    }
}
