.dashboard {
    padding: 0;

    &:hover a {
        text-decoration: none;
    }

    &-notification {
        padding: 0.5rem 1rem;
        background-color: white;
        color: rgb(25, 25, 25);
        box-shadow: 0 4px 8px 0 rgba(38,153,251, 0.2);

        & * {
        font-size: 1rem;
        transition: 350ms;

            @include media-breakpoint-up(sm) {
                & {
                    font-size: 1.15rem;
                }
            }
        }

        &__message {
            &-container {
                display: inline-block;
            }

            &-date {
                color: $i-blue;
            }
        }

        &__schedule {
            &-button {
                display: inline-block;
                text-align: right;

                &  * {
                color: rgb(25, 25, 25);

                &:hover {
                    text-decoration: none;
                }
                }
            }

            &-text {
                font-weight: bold;
            }
        }
    }

    &-modules {
        color: rgb(25, 25, 25);

        &-container {
            margin-bottom: 1rem;
        }

        &__overview {
            position: relative;
        }

        &__thumbnail {
            overflow: hidden;
            max-height: 8.5rem;

            &-image {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        &__header {
            background-color:rgba(25, 25, 25, 0.6);
            color: rgb(245, 245, 245);
            text-align: left;
            font-weight: bold;
            font-size: 1.5rem;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 0 1rem;
        }

        &__progress {
            background-color: rgb(235, 235, 235);
            padding: 0.4rem 0;
            padding-bottom: 0.35rem;
        }

        &__status {
            font-weight: bold;
            margin-right: 0.25rem;

            &-circle {
                color: $green;
            }
        }
    }
}