.introSlide {
  &__image-container {
    // height: 50%;
    margin-top: -8px;
  }
  &__image {
    object-fit: cover;
    max-height: 66vh;
    width: 100%;
  }
  &__content-wrapper {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: $introSlide--backgroundColor;
    @include media-breakpoint-up(md) {
      padding-bottom: .5rem;
      padding: 3rem 5rem 4rem 5rem;
    }
  }
  &__title {
    color: $secondaryColor;
    font-weight: 700;
    @include media-breakpoint-up(md) {
      text-align: center;
      font-size: 3rem;

  }
  }
  &__description {
    color: $secondaryColor;
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
  }
  }
  &__start-btn {
    width: 100%;   
    position: fixed;
    bottom: 0;
    border-radius: 0;
    height: 3.3rem;
    vertical-align: middle;
    @include media-breakpoint-up(md) {
      position: initial;
      border-radius: 4px;
      height: initial;
    
    }
  }
  &__button-wrapper {
    width: 100%;
    margin: 0;
  }

}