.introSlide {
  &__image-container {
    // height: 50%;
  }
  &__image {
    object-fit: cover;
    max-height: 30rem;
    width: 100%;
  }
  &__content-wrapper {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: .5rem 1.5rem 0rem 1.5rem;
    background-color: $introSlide--backgroundColor;
  }
  &__title {
    color: $secondaryColor;
    font-weight: 700;
  }
  &__description {
    color: $secondaryColor;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
  }
  }
  &__start-btn {
    width: 100%;
    border-radius: 0;
  }
  &__button-wrapper {

    width: 100%;
    margin: 0;
  }

}