.login {
    &__title {
      text-align: center;
      margin-top: 8rem;
      margin-bottom: 1.5rem;
      font-size: 4rem;
      color: $primary;
    }

    @include media-breakpoint-down(sm) { 
      &__title {
        margin-top: 6rem;
        margin-bottom: 2rem;
      }
    }
}


