.media {
  &__card {
    display: inline-block;
    overflow: hidden;
    perspective: 1000px;
    height: 8.5rem;
    width: 100%;
    margin: 0.5rem 0;

    &-wrapper {
      position: relative;
      transform-style: preserve-3d;
      height: 8.5rem;
      max-width: 20rem;
      margin: 0.5rem auto;
    }

    &--active {
      transform: rotateX(-180deg);
    }

    &--front, &--back {
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &--back {
      background-color: $primaryColor;
      color: $white;
      padding: 0.5rem 1rem;
      text-align: center;
      transform: rotateX(-180deg);
      
      * {
        font-family: 'Arial', sans-serif;
        font-size: 1.25rem;
      }
    }

    &-image {
      height: 100%;
      width: 100%;
    }
  }
}