.module{
    &__header{
        margin-top: -2px;
    }
    &__footerText{
        color: $secondaryColor;

        &--left{
            margin-left: 2rem;
        }
        &--right{
            margin-right: 2rem;
        }
    }
    &__footer{
        padding-top: 20px;
        @include media-breakpoint-down(sm){
            position: fixed;
        }
        bottom: 0;
        margin-bottom: 0px;
        @include media-breakpoint-up(md){
            background-color: $secondaryColor;

        }
        background-color: $primaryColor;
        width: 100%;
        padding-bottom: 15px;
    }
    &__progressBar{
        @include media-breakpoint-up(md){
            margin-left: -15px;
        }
    }
    &__progress{
        font-size: 1rem;
        color: white;
        font-weight: 1000;
        margin-top: -20px;
        text-align: center;
    }
}

.module__progressBar.vue-progress-path path {
    stroke-width: 25;
}
