.schedule {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(60, 60, 60);
  padding-top: 2rem;

  &-container {
    padding: 0 1.25rem;

    @include media-breakpoint-up(md) { 
      & {
        padding: 0 8rem;
      }
    }
  }

  &-description {
    margin-bottom: 1rem;

    & > * {
      margin: 0;
    }

    &__header {
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
    }

    &__info {
      font-size: 1.15rem;
    }
  }

  &-labels {
    & * {
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
    }

    &__available {
      text-align: right;
    }
  }

  &-divider {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
  }

  &-modules {
    & > * {
      padding: 0.75rem 1rem;
    }

    & > *:nth-child(even) {
      background-color: rgb(225, 225, 225)
    }

    & * {
      font-size: 1rem;
    }

    &__date {
      text-align: right;
    }
  }
}