/*
	* What should I put in this file?
	* This file should only contain css attributes with selectors and events in a global scope
	* i.e. &--active, scrollbar, media queries, etc.
*/

.pointer {
    cursor: pointer;
}

.focus:focus {
	box-shadow: 1px 2px 2px 1px $i-blue;
}

.transition-350ms {
	transition: 350ms ease-out;
}

.hide{
	display:none;
}
