/*
	* What should I put in this file?
	* This file should only contain css attributes with selectors and events in a global scope
	* i.e. &--active, scrollbar, media queries, etc.
*/

.pointer {
    cursor: pointer;
}

.transition-350ms {
    transition: 350ms ease-out;
}

.hide{
    display:none;
}
