/*
    * What should I put in this file?
    * This file should only contain abstract layouts and overrides in a global scope
    * i.e. body, #app, .panel, etc.
*/

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

body {
    background-color: $body-bg;
}

.navbar-laravel {
    background-color: $secondaryColor;
    box-shadow: 0 2px 4px $black--04;
}

.main-wrapper {
    margin-top: 3.3rem;
    z-index: 0;
    width: 100%;
}

.container {
    background-color: 1px solid $border-color;
    // box-shadow: 0rem 1rem 1rem rgba(100, 100, 100, 0.3);
}
