
.navbar{
    background-color: $primaryColor;
    color: $secondaryColor;
    @include media-breakpoint-up(md) {
        padding: 0rem 0.5rem;    
    }
    &__title {
        display:none;

        @include media-breakpoint-up(md) {
            display: flex;
            margin: 0;
            padding: .5rem;
            font-size: 2.25rem;
            text-align: left;
            color: $secondaryColor;
        }
    }

    &-wrapper {
        pointer-events: none;
        position: fixed;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;

        & * {
            pointer-events: auto;
        }
    }

    &__button {
        background: none;
        border: none;
        color: $white;
        font-size: 1.65rem;

        &:hover {
            color: $grey--lighter;
        }
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &-dropdown{
        background-color: $primaryColor;
        overflow: hidden;
        height: 0;
        justify-content: space-between;


        &--show {
            padding: 0.5rem 0;
            height: 100%;
        }

        &-list {
            border: 1px solid $primaryColor--medium;
            @include media-breakpoint-up(md) {
                flex-direction: row;
                border: 0;
                padding-right: 2rem;
            }
        }

        &__item {
            font-size: 0.8rem;
            font-weight: 700;
            padding-left: 2.3rem;
            padding-top: 0.85rem;
            padding-bottom: 0.85rem;
            & > * {
                color: $white;
            }
        }
        
        &__divider {
            &:not(:nth-child(1)) {
                border-top: 1px solid $primaryColor--medium;
                @include media-breakpoint-up(md) {
                    border: none;
                }
            }
        }
        @include media-breakpoint-up(md) {
            display: flex;
            height: 3.5rem;
        }
    }
}
