
.navbar{
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 0.25rem 0.5rem;

    &-wrapper {
        pointer-events: none;
        position: fixed;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;

        & * {
            pointer-events: auto;
        }
    }

    &__button {
        background: none;
        border: none;
        color: $white;
        font-size: 1.65rem;

        &:hover {
            color: $grey--lighter;
        }
    }
    &__text{
        font-size: 1.12rem;
        @include media-breakpoint-up(md){
            font-size:1.2rem;
        }
    }
    &__title{
        bottom:-0.5rem;
    }

    &-dropdown{
        background-color: $primaryColor;
        overflow: hidden;
        height: 0;

        &--show {
            padding: 0.5rem 0;
            height: 100%;
        }

        &-list {
            border: 1px solid $primaryColor--medium;
            margin: 0 -1rem;
        }

        &__item {
            font-size: 0.8rem;
            font-weight: 700;
            padding-left: 2.3rem;
            padding-top: 0.85rem;
            padding-bottom: 0.85rem;

            & > * {
                color: $white;
            }
        }

        &__divider {
            &:not(:nth-child(1)) {
                border-top: 1px solid $primaryColor--medium;
            }
        }
    }
}
