/*
	* What should I put in this file?
	* This file should only contain sass variables
	* i.e. $color, $font, $background, etc.
*/

// Body
$body-bg: #FAFAFA;
$inputBorder: #CECECE;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$heading-color: #4A5D6E;
$text-color: #354A5C;
$place-holder-text: #4D5966;

// Colors
$indigo: #6574cd;
// $purple: #7d63a3;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$white: white;
$border-color: #CECECE;

$magnolia:#FCF8FF;
$mauve: #B999FF;
$back-of-card: #F4F4F4;
$gallery: #EFEFEF;
$link-water: #EDEBFA;

$primaryColor: rgb(55, 113, 220);
$primaryColor--lighter: lighten($primaryColor, 0.4);
$primaryColor--light: lighten($primaryColor, 0.6);
$primaryColor--medium: rgb(16, 109, 188);
$primaryColor--dark: darken($primaryColor, 0.8);
$primaryColor--darker: darken($primaryColor, 1);
$primaryColor--80: rgba($primaryColor, 0.8);
$primaryColor--60: rgba($primaryColor, 0.6);
$primaryColor--40: rgba($primaryColor, 0.4);
$primaryColor--20: rgba($primaryColor, 0.2);
$backgroundColor: rgb(231,242,247);
$introSlide--backgroundColor: rgb(70, 79, 98);

$secondaryColor: rgb(97, 37, 112);
$secondaryColor--lighter: lighten($secondaryColor, 0.4);
$secondaryColor--light: lighten($secondaryColor, 0.6);
$secondaryColor--medium: lighten($secondaryColor, 0.8);
$secondaryColor--dark: darken($secondaryColor, 0.8);
// $secondaryColor--darker: darken($secondaryColor, 1);
$secondaryColor--80: rgba($secondaryColor, 0.8);
$secondaryColor--60: rgba($secondaryColor, 0.6);
$secondaryColor--40: rgba($secondaryColor, 0.4);
$secondaryColor--20: rgba($secondaryColor, 0.2);

$grey: rgb(160, 160, 160);
$grey--lighter: rgb(215, 215, 215);
$grey--light: rgb(225, 225, 225);
$grey--medium: lighten($grey--light, 0.8);
$grey--dark: rgb(145, 145, 145);
$grey--darker: darken($grey--dark, 0.4);
$grey--80: rgba($grey, 0.8);
$grey--60: rgba($grey, 0.6);
$grey--40: rgba($grey, 0.4);
$grey--20: rgba($grey, 0.2);

$black: rgb(25, 25, 25);
$black--lighter: lighten($black, 0.4);
$black--light: rgb(60, 60, 60);
$black--medium: lighten($black--light, 0.4);
$black--dark: rgb(0, 0, 0);
$black--darker: darken($black--dark, 0.4);
$black--80: rgba(0, 0, 0, 0.8);
$black--60: rgba(0, 0, 0, 0.6);
$black--50: rgba(0, 0, 0, 0.5);
$black--40: rgba(0, 0, 0, 0.4);
$black--20: rgba(0, 0, 0, 0.2);
$black--04: rgba(0, 0, 0, 0.04);

$theme-colors: (
    "primary": $primaryColor,
    "secondary": $secondaryColor
);

//Nav Elements
$item-wrapper-background: #1E52B3;
$item-hover-background: #1347AA;

//Box Shadows
$apply-box-shadow: .05rem .05rem 6px rgba(0, 0, 0, 0.5);

//Icon
$default-icon-color: #5CBBE4;
