/*
	* What should I put in this file?
	* This file should only contain sass variables
	* i.e. $color, $font, $background, etc.
*/

// Body
//previous body-bg: #f8fafc
$body-bg: #F5F5F5;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$i-light-blue: #2699FB;
$i-dark-blue: #106DBC;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;

$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$i-white: rgb(5, 5, 5);
$i-blue: #2699FB;

$primary: #2699FB;
$text: #FFFFFF;
$seconary: #106DBC;
$focus: #6cb2eb;

