.module-info{
    margin-top: 2.5rem;
    z-index: 0;
    &__header{
        font-weight: bold
    }
    &__body{
        margin-top: 1.85rem;
    }
    &__sentence{
        font-size: 1rem;
    }
    &__img {
        height: auto;
        max-width: 100%;
        margin-bottom: 1.85rem;

        &-align {
            margin: 0 auto;
        }

        &--top {
            order: -1;
        }

        &--bottom {
            order: 100;
        }
    }

    &__content {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
}
