.module-info{
    margin-top: 1.5rem;
    &__header{
        font-weight: bold
    }
    &__body{
        margin-top: 1.85rem;
    }
    &__sentence{
        font-size: 1rem;
    }
    &__img{
        height: auto;
        max-width: 90%;
    }
}
